<section class="py-12"
    style="
        background-color: var(--color-primary);
        color: var(--color-secondary);
    "
>
<div  class="max-w-5xl mx-auto my-0 md:my-16 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2">
        <!-- Ceremony Lcoation -->
        <div class="text-center border-b md:border-b-0 md:border-r border-dashed p-10">
            <svg class="mx-auto h-12 w-12" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--color-secondary)" viewBox="0 0 256 256"><path d="M228.12,145.14,192,123.47V104a8,8,0,0,0-4-7L136,67.36V48h16a8,8,0,0,0,0-16H136V16a8,8,0,0,0-16,0V32H104a8,8,0,0,0,0,16h16V67.36L68,97.05a8,8,0,0,0-4,7v19.47L27.88,145.14A8,8,0,0,0,24,152v64a8,8,0,0,0,8,8h80a8,8,0,0,0,8-8V168a8,8,0,0,1,16,0v48a8,8,0,0,0,8,8h80a8,8,0,0,0,8-8V152A8,8,0,0,0,228.12,145.14ZM40,156.53l24-14.4V208H40ZM128,144a24,24,0,0,0-24,24v40H80V108.64l48-27.43,48,27.43V208H152V168A24,24,0,0,0,128,144Zm88,64H192V142.13l24,14.4Z"></path></svg>
            <h3
                class="text-4xl sm:text-5xl lg:text-6xl font-semibold mb-4 mt-4"
                style="color: var(--color-secondar);"
            >
                Ceremony
            </h3>
            <a 
                href="https://www.stfrancisinthefields.org/" 
                target="_blank"
                class="inline-block text-base font-semibold sm:text-lg lg:text-xl max-w-2xl mb-2 mt-6 underline hover:no-underline hover:cursor-pointer"
                style="color: var(--color-text); opacity: 0.75;"
            >
                St. Francis in the Fields Episcopal Church
            </a>
            <p
                class="text-base text-sm sm:text-base  max-w-2xl"
                style="color: var(--color-secondary); opacity: 0.8;"
            >
                6710 Wolf Pen Branch Rd<br/>Prospect, KY 40059
            </p>
        </div>
        <!-- Reception Location -->
        <div class="text-center p-10">
            <svg class="mx-auto h-12 w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><line x1="112" y1="16" x2="112" y2="72" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><circle cx="112" cy="152" r="80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><path d="M144,152c0,56-32,80-32,80s-32-24-32-80,32-80,32-80S144,96,144,152Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="32" y1="152" x2="192" y2="152" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="232" y1="72" x2="232" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="248" y1="88" x2="216" y2="88" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="184" y1="16" x2="184" y2="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="208" y1="40" x2="160" y2="40" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
            <h3
                class="text-4xl sm:text-5xl lg:text-6xl font-semibold mb-4 mt-4"
                style="color: var(--color-secondary);"
            >
                Reception
            </h3>
            <a 
                href="https://www.owlcreekcc.com/" 
                target="_blank"
                class="inline-block text-base font-semibold sm:text-lg lg:text-xl max-w-2xl mb-2 mt-6 underline hover:no-underline hover:cursor-pointer"
                style="color: var(--color-text); opacity: 0.75;"
            >
                Owl Creek Country Club
            </a>
            <p
                class="text-base text-sm sm:text-base  max-w-2xl"
                style="color: var(--color-secondary); opacity: 0.8;"
            >
                12400 N Osage Rd<br/>Anchorage, KY 40223
            </p>
        </div>
    </div>
</div>
</section>