<section class="py-12"
    style="
        background-color: var(--color-primary-dark);
        color: var(--color-secondary);
    "
>
<div  class="max-w-4xl mx-auto my-16 px-4">
    <div class="grid grid-cols-1 gap-8">
        <!-- Ceremony Lcoation -->
        <div class="text-center">
            <svg class="mx-auto h-12 w-12"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"/><line x1="24" y1="232" x2="232" y2="232" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="56" y1="24" x2="56" y2="232" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="200" y1="232" x2="200" y2="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="96" y1="64" x2="112" y2="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="144" y1="64" x2="160" y2="64" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="96" y1="104" x2="112" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="144" y1="104" x2="160" y2="104" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="96" y1="144" x2="112" y2="144" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="144" y1="144" x2="160" y2="144" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><polyline points="104 232 104 184 152 184 152 232" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line x1="40" y1="24" x2="216" y2="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
            <h3
                class="text-6xl font-semibold mb-4 mt-4"
                style="color: var(--color-secondar);"
            >
                Travel
            </h3>
            <p
                class="inline-block text-base sm:text-lg lg:text-xl max-w-2xl mb-2 mt-6"
                style="color: var(--color-text); opacity: 0.75;"
            >
                We've reserved a block of rooms at The Hilton Garden Inn - Louisville Northeast. Just mention the Whitman-Maier wedding when you book your reservation or use the group code <span class="font-bold">WMWDMG</span>.
            </p>
            <p
                class="text-base text-sm sm:text-base mt-10"
                style="color: var(--color-secondary); opacity: 0.8;"
            >
                Hilton Garden Inn - Louisville Northeast<br/> 9850 Park Plaza Ave<br/> Louisville, KY 40241<br/> <a class="underline hover:no-underline" href="tel:(502) 423-0018">(502) 423-0018</a>
            </p>
            <a 
                href="https://www.hilton.com/en/attend-my-event/whitmanmaierweddingoct2026/" 
                target="_blank" 
                class="py-3 px-6 rounded-md inline-block text-base font-semibold sm:text-lg lg:text-xl max-w-2xl mb-2 mt-12 hover:cursor-pointer hover:shadow-lg transition-shadow duration-300"
                style="background-color: var(--color-primary);"
            >
                Book Your Room
            </a>
        </div>
    </div>
</div>
</section>